<html>
    <head>
        <meta charset="UTF-8">
        <title>Ninja Gold</title>
        {% load static %}
            <link rel="stylesheet" href="{% static 'ninja_gold/style.css' %}" media="screen" title="no title"  charset="utf-8">   
        </head>
    <body>
        <div class="wrapper">
            <div class="goldreport">
                <h4>Your gold:</h4>
                <p>{{request.session.yourgold}}</p>
            </div>
            <div class="formrow">
                <div class="place spacing">
                    <h3>Farm</h3>
                    <p>(earns 10-20 golds)</p>
                    <form action="/process_money/farm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="farm" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class="place spacing">
                    <h3>Cave</h3>
                    <p>(earns 5-10 golds)</p>
                    <form action="/process_money/cave" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="cave" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class="place spacing">
                    <h3>House</h3>
                    <p>(earns 2-5 golds)</p>
                    <form action="/process_money/house" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class="place">
                    <h3>Casino</h3>
                    <p>(earns/takes 0-50 golds)</p>
                    <form action="/process_money/casino" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
            </div>
            <div class="activities">
                <p>Activities:</p>
                <div class ="abox">
                    {% for name in request.session.activity %}
                        <p>{{ name }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>